/* .project-bg{
background: url('img/ieee-banner.jpg');
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
}
.contact-bg{
background: url('img/contact-us.jpg');
background-position: center center;
background-repeat: no-repeat;
background-size: cover;

}
.reserach-bg{
background: url('img/reserach.jpg');
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
} */
